/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-dialog-container {
  padding: 0 !important;
}
.custom-snakebar {
  width: 228px;
  margin: 0 !important;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #5cb85c;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p {
    padding-left: 8px;
  }
  p + img {
    margin-left: auto;
    cursor: pointer;
  }
}
